/*Google Font Imported*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}
/*Font Info end*/

body {
    background-color: rgb(199,190,180);
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}


#bodyBG {
    max-width:1270px;
    margin:auto;
    background-color: inherit;
    border-style: none none solid none;
    border-color:#232323;
    border-width: medium;
}


#navBar {
    text-align: center;
    grid-row: 1;
    text-transform: uppercase;
    padding: 0;
}

.buttonNav{
    grid-row: 1;
    border: none;
    background-color: inherit;
    color: #11151C;
    padding: 10px;
    margin-inline: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    transition-duration: 0.2s;
    cursor: pointer;
    width:400px;
}

.buttonNav:hover{
    background-color: rgb(217, 209, 200);
}


li {
    list-style-type: none;
}

/*The cheat for the upper title bar thingy*/
#titleBGFaux{
    width: 100%;
    top:0;
    position:absolute;
    justify-content: top;
    align-items: top;
    display:flex;
    flex-direction: column;
}

/*Title overlay on image*/
#titleBG{
    width: 100%;
    top:0;
    right:0;
    position:absolute;
    display:flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    font-size: 450%;
    font-weight:bold;
    padding: 50px;
    line-height: 400%;
}

/*Fixed box following while scrolling*/
.Fixed
{
    position: fixed;
    bottom:0;
    right:0;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 125px;
    text-align: center;
    background-color:rgb(149,137,126);
    width:500px;
    height:100px;
    justify-content: center;
    font-size:x-large;
    padding:12px;
}
.Fixed:hover {
    transition:0.2s;
    background-color: rgb(106, 96, 87);
    color:#EFEEEB;
}